@font-face {
    font-family: 'sell-cion';
    src: url("../fonts/sell-icon.eot") format('embedded-opentype'), url("../fonts/sell-icon.ttf") format('truetype'), url("../fonts/sell-icon.woff") format('woff'), url("../fonts/sell-icon.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

:global([class^="icon_"]) {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sell-cion' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global(.icon_add_circle):before {
    content: "\e900";
}

:global(.icon_arrow_lift):before {
    content: "\e901";
}

:global(.icon_check_circle):before {
    content: "\e902";
}

:global(.icon_close):before {
    content: "\e903";
}

:global(.icon_favorite):before {
    content: "\e904";
}

:global(.icon_keyboard_arrow_right):before {
    content: "\e905";
}

:global(.icon_remove_circle_outline):before {
    content: "\e906";
}

:global(.icon_shopping_cart):before {
    content: "\e907";
}

:global(.icon_thumb_down):before {
    content: "\e908";
}

:global(.icon_thumb_up):before {
    content: "\e909";
}